@font-face {
    font-family: "B612";
    src: url("./fonts/B612-Regular.ttf");
  }
  
  @font-face {
    font-family: "B612-Bold";
    src: url("./fonts/B612-Bold.ttf");
  }
  
table {
    width : 100%;
}

td,thead, th {
    text-align: center;
    font-size: 20px;
    padding: 10px;
    font-family: "B612", "gothic";
}
